.button {
    display: block;
    background-color:black; 
    border: none;
    color: white;
    /*padding: 15px 32px;*/
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    /*border-radius: 8px;*/
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    margin: auto;
  }
  
  .button:hover {
    background-color: #3e8e41;
  }
  