.button {
    display: block;
    background-color:black; 
    border: none;
    color: white;
    /*padding: 15px 32px;*/
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    cursor: pointer;
    border-radius: 8px;
  }
  
  .button:hover {
    background-color: #3e8e41;
  }